[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
chainer = ">=5.3.0"
numpy = ">=1.15.0"
pandas = "*"
tqdm = "*"
matplotlib = "*"
scipy = ">=1.2"

[requires]
python_version = "3.7"
